# Dependency directories
node_modules/

# Local database (Don't push if you want everyone to start fresh)
# db.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# IDE Folders
.vscode/
.idea/